<div id="info">

	{{#unless dev}}
	{{! Facebook Like button }}
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

	{{! Google +1 button }}
	<script type="text/javascript">
		window.___gcfg = {lang: 'en-GB'};
		(function() {
			var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
			po.src = 'https://apis.google.com/js/plusone.js?';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
		})();
	</script>

	{{! Tweet button }}
	<script>
		!function(d,s,id) {
			var js,fjs=d.getElementsByTagName(s)[0];
			if(!d.getElementById(id)){
				js=d.createElement(s);js.id=id;
				js.src="https://platform.twitter.com/widgets.js";
				fjs.parentNode.insertBefore(js,fjs);
			}
		}(document,"script","twitter-wjs");
	</script>
	{{/unless}}

	<div class="overlay full">
		<div class="text">
			<div class="slide-up">
				<h1>{{ metadata.title }}</h1>
				<p>{{ metadata.description }}</p>
				{{#unless dev}}
				<div class="social">
					<div class="g-plusone" data-href="{{ metadata.url }}" data-size="medium" data-annotation="none"></div>
					<div class="fb-like" data-href="{{ metadata.url }}" data-layout="button" data-colorscheme="dark" data-action="like" data-show-faces="false" data-share="false"></div>
					<a class="twitter-share-button" href="https://twitter.com/share" data-url="{{ metadata.url }}" data-lang="en" data-count="none" data-size="medium">Tweet</a>
				</div>
				{{/unless}}
			</div>
		</div>
	</div>

	<div class="button info">i</div>

</div>
